# Ignore the script with real paths
billdetails_merge.py
refund_cost_merge.py
orderdetails_merge.py
fulfillment_cost_merge.py
files_management.py


# Ignore local data directories
input/
output/
processed/
logs/
processed_logs/



# Pycharm
.idea/
*.iml

# Common exclusions
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
venv/
*.log
scr/monthly_profit.py
