# Ignore the script with real paths
temu_merge.py

# Ignore local data directories
input/
output/
processed/


# Pycharm
.idea/
*.iml

# Common exclusions
__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
.env
venv/
*.log